* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Baloo Bhai 2", cursive;
  }
  .container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
    color: white;
    background: url("bg.jpeg") no-repeat center center/cover;
    position: absolute;
    opacity: 0.8;
    /* filter: blur(1px); */
    /* background-color: black; */
    /* filter: brightness(.5); */
  }
  nav {
    font-size: 3vh;
    height: 15vh;
    width: 100%;
    filter: brightness(1);
    display: flex;
    /* color: white; */
    align-items: center;
    justify-content: space-around;
  }
  nav div {
    font-weight: bolder;
    text-align: center;
    width: 30%;
  }
  nav ul {
    padding: 0px 100px;
    width: 70%;
    display: flex;
    list-style: none;
    justify-content: space-evenly;
  }
  nav ul li:hover{
      color: rgb(14 249 218);
      cursor: pointer;
  }
  .menu{
      display: none;
  }
  .menu i{
      cursor: pointer;
      font-size: 3vh;
      color: white;
      font-weight: bolder;
  }
  .menu i:hover{
      color: rgb(14 249 218);
  }
  section {
    font-size: 3vh;
    display: flex;
    height: 80vh;
    width: 60%;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  section h1 {
    font-size: 7vh;
    /* color: teal; */
  }
  section div {
    display: flex;
  }
  
  i {
    color: rgb(14 249 218);
    /* padding-top: 60px; */
    font-size: 10vh;
    cursor: pointer;
  }
  section i:hover{
      color: rgba(255, 255, 255, 0.685);
  
  }
  @media screen and (max-width: 1000px) {
    .menu {
      display: block;
    }
    nav ul {
      display: none;
    }
    nav {
      justify-content: space-between;
    }
  }
  @media screen and (max-width: 550px) {
      section{
          font-size: 2vh;
      }
  
    section h1 {
      font-size: 6vh;
      /* color: teal; */
    }
  
  }